* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.header h1 {
  color: white;
}

.header img {
  width: 80px;
}

main {
  display: flex;
  background-color: blue;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  flex-wrap: nowrap;
  background-color: red;
}

#trybewarts-forms-logo {
  height: 500px;
  justify-content: flex-end;
}

#input-name {
  width: 50%;
  float: left;
}

#input-lastname {
  width: 50%;
  float: right;
}

#divname-last {
  display: flex;
}