* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.trybewarts-login {
  display: flex;
  margin-right: 10px;
}

#login {
  margin-right: 10px;
}

#login-button {
  background-color: rgb(80, 0, 80);
  border: none;
}

.header h1 {
  color: white;
}

.header img {
  width: 80px;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  align-content: center;
}

.divname-last {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.size-element {
  border-radius: 5px;
  margin-right: 5px;
  flex-basis: 40%;
  padding: 5px;
  border:1px solid grey;
  margin-bottom: 10px;
}

hr {
  text-align: center;
  width: 575px;
  margin-top: 15px;
}

#family-habilites {
  display: flex;
  flex-direction: column;
  width: 40%;

}

#checkbox {
  display: flex;
  flex-direction: column;
  width: 50%;

}

#section-checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#main-info {
  display: flex;
}

.itens {
  flex-basis: 30%;
}

