* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.header h1 {
  color: white;
}
.header img {
  width: 80px;
}